/*---------------------------*/
header {
  padding: 0 5% 0 0;
}
header > div nav#nav ul {
  width: 95%;
  max-width: 375px;
  margin: 0 auto;
}
header > div nav#nav ul li {
  white-space: nowrap;
}
header > div nav#nav ul li h5 {
  font-size: 20px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: -1px;
  position: relative;
  margin-bottom: -2px;
  background: linear-gradient(to bottom, var(--fog) 15%, var(--white) 43%);
  height: auto;
  padding-bottom: 5%;
}

/*-----------------------Mobility ----*/
section#mobility > div {
  width: 90%;
  height: auto;
}
section#mobility > div h2 {
  text-align: left;
  white-space: nowrap;
  margin-left: 7%;
}
section#mobility div > div h6 em b {
  color: var(--white);
  text-transform: capitalize;
  line-height: 1.5;
}
section#mobility div figure img {
  width: 75px;
}
/*-----------------------PARALEX ----*/
.parallex {
  background-size: cover;
}
#parallex-set-1 {
  background-image: url('../images/parallex/soundtrap-5Wj_tk8_Ens-unsplash_purple.png');
}
.parallex1 {
  height: 45vh;
  background-position: 50% 50%;
}
@media screen and (min-device-width: 768px) {
  header > div nav#nav ul {
    width: 80%;
    max-width: 375px;
    margin: 0;
  }
}

@media screen and (min-device-width: 992px) {
  header > div nav ul {
    width: 63%;
  }
  section#mobility > div {
    width: 90%;
  }
}
@media screen and (min-device-width: 1200px) {
  header > div nav ul {
    width: 54%;
  }
  main {
    background-color: var(--white);
  }
  main > div {
    width: 90%;
    height: 100%;
    text-align: center;
    top: 0;
    position: relative;
    padding-top: 1%;
  }
  main > div p,
  section#mobility > div {
    text-align: justify;
  }
}
@media screen and (min-width: 1400px) {
  header > div nav ul {
    width: 45%;
  }
}
@media screen and (min-width: 1600px) {
  main {
    padding-bottom: 3%;
  }
  header > div nav ul {
    width: 38%;
  }
}
@media screen and (min-width: 2000px) {
  header > div nav ul {
    width: 32%;
  }
}
@media screen and (min-width: 2400px) {
  header > div nav ul {
    width: 28%;
  }
}
