body section.DIMS,
section.DIMS header.in-place {
  background: var(--white) !important;
  z-index: 1;
}
figure.banner {
  background: transparent;
}
section.DIMS header.in-place {
  top: 215px;
}
/*-----------------------Mobility ----*/
section#mobility > div {
  width: 90%;
  height: auto;
}
section#mobility > div h2 {
  text-align: left;
  white-space: nowrap;
  margin-left: 7%;
}
section#mobility div > div h6 em b {
  color: var(--white);
  text-transform: capitalize;
  line-height: 1.5;
}
section#mobility div figure img {
  width: 75px;
}
/*-----------------------PARALEX ----*/
.parallex {
  background-size: cover;
}
#parallex-set-1 {
  background-image: url('../images/parallex/soundtrap-5Wj_tk8_Ens-unsplash_purple-min.png');
}
.parallex1 {
  height: 45vh;
  background-position: 50% 50%;
}
@media screen and (min-device-width: 576px) {
  section.DIMS header.in-place {
    top: 202px;
  }
  figure.banner h1 {
    top: 111px;
  }
  div.description {
    top: -34px;
  }
}
@media screen and (min-device-width: 768px) {
  section.DIMS header.in-place {
    top: 185px;
  }
  main {
    top: 260px;
  }
  main > figure.banner {
    height: 165px;
  }
  main > figure.banner h1 {
    top: 51px;
  }
}
@media screen and (min-device-width: 992px) {
  section#mobility > div {
    width: 90%;
  }
  div.description {
    min-height: 1100px;
    max-height: 900px;
  }
  div.description p {
    padding-bottom: 50px;
  }
}
@media screen and (min-device-width: 1200px) {
  main > div {
    width: 90%;
    height: 100%;
    text-align: center;
    top: 0;
    position: relative;
    padding-top: 1%;
  }
  main {
    top: 262px;
  }
  main > div p,
  section#mobility > div {
    text-align: justify;
  }
  main > figure.banner h1 {
    top: -18px;
  }
  div.description {
    min-height: 800px;
    max-height: 1000px;
  }
  section.DIMS header.in-place {
    top: 202px;
  }
}
@media screen and (min-device-width: 1600px) {
  section.DIMS header.in-place {
    top: 210px;
  }
  div.description {
    max-height: 900px;
  }
}
@media screen and (min-device-width: 2000px) {
  section.DIMS header.in-place {
    top: 175px;
  }
  div.description {
    max-height: 700px;
  }
}
