body {
  background-image: linear-gradient(
    var(--wisteria-purple) 15%,
    var(--dirty-purple) 100%
  ) !important;
}
/*-----------------------SECTION DIMS ----*/
body section.DIMS,
section.DIMS header.in-place {
  background-color: var(--wisteria-purple) !important;
  z-index: 0;
}
section.DIMS header.in-place nav ul li a h5 {
  -webkit-text-fill-color: white !important;
  -webkit-background-clip: text;
  filter: none !important;
}
/*-----------------------Hero ----*/
main {
  background: url('../images/jason-rosewell-ASKeuOZqhYU-unsplash_puple-min.png')
    no-repeat top center / 100% 100%;
  background-size: cover;
  width: 100%;
  height: 650px;
  position: relative;
  margin-bottom: -2px;
  background-position: -50px 0;
}
main > header.DIMS {
  position: fixed;
}
main div {
  width: 90%;
  height: auto;
  margin: auto;
  text-align: center;
  top: 0;
  position: relative;
  z-index: -1;
}
main div h1 {
  font-size: 50px;
}
main div section h5 {
  font-size: medium;
}
main div section h5 a {
  color: var(--white);
}
main div section h5 a:hover {
  background: linear-gradient(
    to right,
    var(--bean-red_two),
    var(--purplish-pink),
    var(--bright-ube),
    var(--white)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
/*-----------------------Feature Service ----*/
section#feature_service {
  width: 100%;
  position: relative;
  /* top: -25px; */
  z-index: -1;
}
section#feature_service ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
section#feature_service ul li {
  display: flex;
  flex-wrap: wrap;
}
section#feature_service ul li article {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5%;
  grid-gap: 8%;
  box-shadow: inset 0px 0px 0px 1px var(--light-border);
}
section#feature_service ul li:nth-of-type(1) article {
  background-image: linear-gradient(
    to bottom right,
    var(--bright-ube) 15%,
    var(--white) 75%
  );
}
section#feature_service ul li:nth-of-type(2) article {
  background-image: linear-gradient(
    to top right,
    var(--bright-ube) 15%,
    var(--white) 75%
  );
}
section#feature_service ul li:nth-of-type(3) article {
  background-image: linear-gradient(
    to bottom left,
    var(--bright-ube) 15%,
    var(--white) 75%
  );
}
section#feature_service ul li:nth-of-type(4) article {
  background-image: linear-gradient(
    to top left,
    var(--bright-ube) 15%,
    var(--white) 75%
  );
}
section#feature_service ul li article section p {
  color: var(--tulip-pink);
}
section#feature_service ul li article figure {
  width: 45%;
  align-self: flex-start;
}
section#feature_service ul li article div {
  display: flex;
  flex-direction: column;
  width: 100%;
}
/*-----------------------Audio ----*/
section#audio {
  background: url('../images/soundtrap-uCNrr-3i2oI-unsplash_purple-min.png')
    no-repeat top center / 100% 100%;
  background-size: cover;
  width: 100%;
  height: 700px;
  display: flex;
  align-items: end;
  justify-content: center;
  z-index: -2;
  position: relative;
  /* top: -25px; */
}
section#audio > div {
  width: 90%;
  height: auto;
  text-align: center;
  position: relative;
  bottom: 12%;
  z-index: -1;
}
h2 {
  font-size: 42px;
}
/*-----------------------Mobility ----*/
section#mobility > div {
  width: 90%;
  height: auto;
  text-align: center;
}
section#mobility > div h2 {
  text-align: center;
  white-space: nowrap;
}
section#mobility div figure img {
  width: 75px;
}
/*-----------------------PARALEX ----*/
#parallex-set-1 {
  background-image: url('../images/parallex/soundtrap-sFnAVHjF688-unsplash_purple-min.png');
}

@media screen and (min-device-width: 576px) {
  section.DIMS header.in-place {
    height: 75px;
  }
  main {
    height: 535px;
    background-position: -50px 0;
  }
  section#feature_service {
    top: 0;
  }
  section#feature_service ul li article figure {
    width: 30%;
  }
}
@media screen and (min-device-width: 768px) {
  section.DIMS header.in-place {
    height: 93px;
  }
  body > header#AYPAD > div nav#nav > ul {
    top: 0;
  }
  main {
    background-position: 0 0;
    height: 550px;
  }
  main div {
    top: -1%;
  }
  section#feature_service ul li:nth-of-type(2) article {
    background-image: linear-gradient(
      to bottom left,
      var(--bright-ube) 15%,
      var(--white) 75%
    );
  }
  section#feature_service ul li:nth-of-type(3) article {
    background-image: linear-gradient(
      to top right,
      var(--bright-ube) 15%,
      var(--white) 75%
    );
  }
  section#feature_service ul li article figure {
    width: 50%;
  }
}
@media screen and (min-device-width: 992px) {
  body > header#AYPAD > div nav#nav > ul {
    top: 2px;
  }
  section.DIMS header.in-place {
    height: 85px;
  }
  main {
    height: 700px;
    background-position: 0 -25px;
  }
  main div {
    width: 70%;
  }
  section.DIMS header.in-place {
    top: 195px;
  }
  section#feature_service {
    top: 0;
  }
  section#audio > div {
    width: 70%;
  }
  section#audio > div h2 {
    white-space: nowrap;
  }
  section#mobility > div {
    width: 70%;
  }
  footer section:last-child ul {
    grid-gap: 30px;
  }
}
@media screen and (min-device-width: 1200px) {
  main {
    height: 800px;
    background-position: 0 -40px;
  }
  main div {
    width: 57%;
  }
  main div h1 {
    font-size: 60px;
  }
  main div section h5 {
    font-size: x-large;
  }
  section#feature_service ul {
    grid-template-columns: repeat(auto-fit, minmax(350px, 50%));
  }
  section#feature_service ul li article figure {
    width: 25%;
  }
  section#feature_service ul li article {
    padding: 3%;
  }
  section#feature_service ul li:nth-of-type(2) article {
    background-image: linear-gradient(
      to bottom left,
      var(--bright-ube) 15%,
      var(--white) 75%
    );
  }
  section#feature_service ul li:nth-of-type(3) article {
    background-image: linear-gradient(
      to top right,
      var(--bright-ube) 15%,
      var(--white) 75%
    );
  }
  section#audio > div {
    width: 66%;
  }
  section#audio > div h2 {
    font-size: 45px;
  }
  section#audio > div h5 {
    font-size: 24px;
  }
  section#mobility div figure img {
    width: 100px;
  }
}
@media screen and (min-width: 1400px) {
  main {
    height: 900px;
  }
  section#audio > div {
    width: 58%;
  }
  section#mobility > div {
    width: 53%;
  }
}
@media screen and (min-width: 1600px) {
  main {
    background-position: 0px -50px;
  }
  main div {
    width: 54%;
  }
  section#feature_service ul {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
  section#feature_service ul li article figure {
    width: 40%;
  }
  section#feature_service ul li article {
    align-items: flex-start;
  }
  section#audio > div {
    width: 50%;
  }
}

@media screen and (min-width: 2000px) {
  section.DIMS header.in-place {
    top: 175px;
    height: 100px;
  }
  main {
    height: 1000px;
  }
}
@media screen and (min-width: 2400px) {
  main {
    height: 1100px;
  }
  section.DIMS header.in-place {
    top: 180px;
  }
}
