@-ms-viewport {
  width: device-width;
}
:root {
  --white: #ffffff;
  --light-border: #ebebeb;
  --fog: #dcd6f0;
  --wisteria-purple: #c3a8c3;
  --pale-purple: #b498ca;
  --bright-ube: #d298e8;
  --lavender-indigo-one: #9c56dc;
  --lavender-indigo-two: #9053f5;
  --gun-powder: #423766;
  --cinder: #352d53;
  --dirty-purple: #8f6a9d;
  --old-mauve: #864a68;
  --bean-red_one: #f35962;
  --bean-red_two: #fa575f;
  --tulip-pink: #c65e8f;
  --purplish-pink: #c757a0;
  --glaucous: #6184c3;
  --silk-blue: #5684c8;
  --rhino: #2b4264;
  --wild-blue-yonder: #8586c6;
  --chetwode-blue: #8e8fd3;
  --mulled-wine: #47486a;
  --old-mauve: #864a68;
  --turkish-rose: #b8648d;
  --eggplant: #432e41;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  overflow-x: hidden;
  min-width: 100%;
  min-height: 100vh;
  font: normal normal normal 12px / 1.2 'Hind Madurai', sans-serif;
  position: relative;
  background-image: linear-gradient(
    var(--wisteria-purple) 15%,
    var(--dirty-purple) 100%
  );
  border: 3px;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
}
body div#body {
  position: relative;
  top: 275px;
  flex: 1;
  z-index: -1;
}
h1 {
  font: normal normal bold 60px/1.4 'Bubblegum Sans', serif;
  color: var(--white);
}
h2 {
  font: normal normal bold 45px/1.4 'Bubblegum Sans', serif;
  color: var(--white);
}

h3 {
  font: normal normal normal 40px/1.4 'Quicksand', sans-serif;
  color: var(--white);
}

h4 {
  font: normal normal normal 32px/1.4 'Quicksand', serif;
  color: var(--white);
}
h4 em {
  font: normal normal bold 34px/1 'Quicksand', sans-serif;
  color: var(--tulip-pink);
}

h5 {
  font: normal normal normal 24px/1.4 'Hind Madurai', serif;
  color: var(--white);
}
h5 em {
  font: normal normal bold 26px/1.4 'Hind Madurai', serif;
  color: var(--tulip-pink);
}
h6 b {
  font: normal normal bold 18px/1.2 'Hind Madurai', serif;
  color: var(--tulip-pink);
}
h6 {
  font: normal normal normal 14px/1.2 'Hind Madurai', serif;
  color: var(--tulip-pink);
}
h6 em {
  font: normal normal normal 16px/1.2 'Hind Madurai', serif;
  color: var(--white);
}
p b {
  font: normal normal bold 14px/1.4 'Hind Madurai', sans-serif;
  color: var(--white);
}
p {
  color: var(--white);
}
.nav-none {
  display: none;
}
.nav-block {
  display: block;
}
nav a,
a {
  text-decoration: none;
  cursor: pointer;
}
ul li {
  list-style: none;
  height: auto;
}
/*-----------------------HEADERS ----*/
body > header {
  top: 0;
  z-index: 1;
  padding: 0.5% 0;
  width: 100%;
  position: fixed;
  height: 75px;
}
/*-----------------------AYPAD ----*/

body > header#AYPAD {
  z-index: 5;
  background: white;
}

body > header > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  height: 100%;
}

body > header > div > a#logo {
  width: 75%;
}
body > header > div > a#logo figure img {
  width: 125px;
  margin-top: -8px;
}
body > header > div figure#menu {
  display: block;
  width: 42px;
  margin-right: 17px;
}
body > header figure#menu img {
  width: 40px;
  height: 40px;
}

body > header > div nav#nav {
  padding: 1% 0;
  width: 100%;
  justify-content: end;
  display: flex;
  margin-left: 1%;
  background: white;
}

body > header#AYPAD > div nav#nav > ul {
  height: 225px;
  padding-bottom: 5%;
  z-index: 10;
  position: relative;
  background: var(--white);
  top: 10px;
  left: 0;
  width: 100%;
  max-width: 100vw;
  filter: drop-shadow(2px 4px 2px #dcdcdc);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
body > header#AYPAD > div nav#nav > ul li {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 100vw;
  margin: 0 auto;
}
body > header > div nav#nav ul li h5 {
  font-size: 20px;
}
nav#nav ul li a h5 {
  color: var(--eggplant);
}
/*-----------------------AYPAD Brand dropdown ----*/
nav#nav ul li.dropdown {
  float: left;
  overflow: visible;
  position: relative;
}
nav#nav ul li.dropdown .brandbtn {
  background-color: inherit;
  font-family: inherit;
  position: relative;
  color: var(--eggplant);
}
nav#nav ul li.dropdown:hover .brandbtn {
  text-decoration: underline;
}

/*-----------------------AYPAD logo container ----*/

nav#nav section.logo_container {
  position: absolute;
  background-color: #fff;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 15;
  left: 0;
  top: 290px;
  height: 420px;
  width: 100vw;
  overflow: scroll;
  padding: 0 4%;
  align-items: center;
  border: 3px;
  gap: 25px;
}

section.logo_container > header {
  width: 90%;
  position: relative;
  margin: 0px 3% 9% 3%;
  top: 0;
  height: 225px;
}

nav#nav section.logo_container > header > div {
  position: fixed;
  right: 42px;
  top: 305px;
  font-size: 18px;
  text-decoration: underline;
  cursor: pointer;
}
section.logo_container > header h3,
section.logo_container > header h5 {
  color: var(--eggplant);
}
section.logo_container > header h3 {
  white-space: nowrap;
}

nav#nav section.logo_container > ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  height: 300px;
  gap: 5px;
  position: relative;
  padding-bottom: 80px;
  top: 60px;
}

section.logo_container ul#brands li {
  list-style: none;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 5%;
  border: 1px solid var(--fog);
  position: static;
}
section.logo_container ul#brands li h5 {
  color: var(--eggplant);
  position: absolute;
  bottom: -25px;
  position: relative;
  width: 100%;
  text-align: center;
  bottom: -10px;
  white-space: normal;
}

section.logo_container ul#brands li article figure {
  width: 300px;
  height: 275px;
  position: relative;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section.logo_container ul#brands li article figure img {
  width: 300px;
  min-height: 200px;
  object-fit: contain;
  object-position: center;
  border-radius: 15px;
  position: relative;
  padding: 0 3%;
}
section.logo_container ul#brands li article figure figcaption {
  bottom: 0;
  position: relative;
  color: var(--eggplant);
  text-align: center;
  height: 100px;
}
/*-----------------------CHILD LOGO DIMS ----*/
body section.DIMS {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 75px;
  height: auto;
  padding: 2%;
  background: var(--white);
  z-index: 1;
}

section.DIMS header.in-place {
  top: 213px;
  left: 0;
}
/* DIM HEADER IN- PLACE */
section.DIMS header.in-place {
  width: 100%;
  height: 60px;
  transition: 0.3s ease-in-out;
  position: fixed;
  top: 215px;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white);
  z-index: 1;
}

section.DIMS header.in-place nav ul li a h5 {
  background: linear-gradient(
    to right,
    var(--wild-blue-yonder) 10%,
    var(--pale-purple) 20%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/* DIM HEADER SCROLLING */
section.DIMS header.in-place.scrolling {
  background: linear-gradient(
    to right,
    var(--wild-blue-yonder) 15%,
    var(--pale-purple) 95%
  ) !important;
  -webkit-text-fill-color: white;
  -webkit-background-clip: text;
  filter: none !important;
}
section.DIMS header.in-place.scrolling nav ul li a h5 {
  -webkit-text-fill-color: white;
  -webkit-background-clip: text;
}

section.DIMS header.in-place nav ul {
  display: flex;
  gap: 22px;
  max-width: 370px;
  width: 95%;
  margin: 0 auto;
  overflow-x: scroll;
}
section.DIMS header.in-place nav li {
  white-space: nowrap;
}
body section.DIMS figure a img {
  width: 85px;
}
body section.DIMS figure a {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  width: 200px;
  justify-content: center;
}
body section.DIMS figure a h4 {
  font-weight: bolder;
  background: linear-gradient(
    to right,
    var(--bean-red_two),
    var(--purplish-pink),
    var(--lavender-indigo-one),
    var(--lavender-indigo-two)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  white-space: nowrap;
  filter: drop-shadow(0 0 0 var(--cinder));
}

/*-----------------------Main ----*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: -2px;
  background: linear-gradient(to bottom, var(--fog) 15%, var(--white) 43%);
  height: auto;
  padding: 0 1% 5% 1%;
  z-index: -1;
}
figure.banner {
  background: transparent;
  position: relative;
  top: 50px;
  height: 120px;
  width: 100vw;
  margin-bottom: 5%;
}
figure.banner h1 {
  background: linear-gradient(
    to right,
    var(--wild-blue-yonder) 10%,
    var(--pale-purple) 20%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  filter: drop-shadow(2px 2px 2px rgba(255, 255, 281, 1));
  width: 100%;
  top: 0;
  left: 0;
  padding-left: 7%;
  position: relative;
}
/*-----------------------description paragraphs ----*/
div.description {
  width: 90%;
  height: auto;
  max-height: 2300px;
  text-align: center;
  top: 0;
  position: relative;
  position: relative;
  display: flex;
  align-items: center;
}
div.description p {
  font-size: 20px;
  color: var(--cinder);
  text-align: justify;
  line-height: 1.5;
  padding-bottom: 0;
}

/*-----------------------Mobility ----*/
section#mobility,
section#commitment {
  background-image: linear-gradient(var(--silk-blue), var(--rhino));
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3% 0 10% 0;
  z-index: -1;
}
/*-----------------------PARALEX ----*/
.parallex {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
  display: block;
  width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
}
.parallex1 {
  height: 40vh;
  background-position: 50% 50%;
}
.parallex-section {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: -1;
}
.parallex-section > div {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}
/*-----------------------Testimonials ----*/
section#testimonials ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
section#testimonials ul li article {
  padding: 2% 3% 0 3%;
  height: 145px;
  background-image: linear-gradient(var(--silk-blue), var(--rhino));
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section#testimonials ul li article p em {
  font-weight: bold;
}
/*-----------------------Follow DIMS ----*/
section#follow_DIMS {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--wisteria-purple);
  position: relative;
  bottom: 0;
}
section#follow_DIMS ul {
  display: flex;
  grid-gap: 28px;
}
section#follow_DIMS > div#socialM {
  align-self: center;
  margin-top: 2%;
}

/*-----------------------Footer ----*/
footer,
section#follow_DIMS {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6% 3% 6% 2%;
}
footer {
  align-items: center;
  background-color: var(--eggplant);
  height: 200px;
}
footer section {
  width: 100%;
}
footer section:first-child {
  display: flex;
  align-items: start;
  grid-gap: 8px;
  color: white;
  margin-bottom: 2%;
}
footer section:nth-child(2) {
  text-align: center;
  margin-bottom: 2%;
}
footer section:nth-child(2) ul {
  display: flex;
  justify-content: center;
  grid-gap: 15px;
  filter: drop-shadow(2px 1px 0 var(--cinder));
}
footer section:nth-child(2) ul li:nth-child(4) {
  display: none;
}
footer section:last-child {
  display: flex;
  justify-content: center;
}
footer section:last-child ul {
  display: flex;
  grid-gap: 27px;
}
footer section#socialM ul li,
section#follow_DIMS ul li {
  list-style: none;
}
footer section#socialM ul li a figure,
section#follow_DIMS ul li a figure {
  width: 26px;
  height: 26px;
}
footer section#socialM ul li a figure img,
section#follow_DIMS ul li a figure img {
  width: 100%;
  height: 100%;
}
@media screen and (min-device-width: 576px) {
  body > header > div > a#logo {
    width: 85%;
  }
  body > header > div figure#menu {
    margin: 0 40px 0 0px;
  }
  body > header > div nav#nav {
    display: block;
    width: 100vw;
    margin: 0 auto;
  }
  body section.DIMS {
    padding: 0%;
    top: 74px;
  }
  section.DIMS header.in-place {
    top: 202px;
    left: unset;
    max-width: 100%;
    height: 75px;
  }
  section.DIMS header.in-place nav ul {
    max-width: 500px;
    width: 100%;
  }
  main {
    top: 0;
    height: auto;
  }
  figure.banner {
    top: 50px;
    margin-bottom: 5%;
  }
  section#testimonials ul li article {
    height: 115px;
  }
  section#follow_DIMS {
    padding: 3%;
    flex-direction: row;
  }
  section#follow_DIMS ul {
    grid-gap: 30px;
  }
  section#follow_DIMS > div#socialM {
    margin-top: 0;
  }
  footer {
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    padding: 3%;
  }
  footer section {
    width: 100%;
  }
  footer section:last-child {
    position: relative;
    justify-content: center;
  }
}
@media screen and (min-device-width: 768px) {
  body > header {
    padding: 0 1%;
    display: flex;
    align-items: center;
    width: 100%;
  }
  body > header#AYPAD > div {
    width: 100%;
    gap: 0;
  }
  body > header#AYPAD > div nav#nav {
    display: flex !important;
    padding: 1% 0;
    width: auto;
    justify-content: start;
    width: 400px;
    max-width: 450px;
    margin: 0 auto 0 0;
  }
  body > header.in-place > div nav#nav > ul,
  body > header#AYPAD > div nav#nav > ul {
    background-color: transparent;
    flex-direction: row;
    height: auto;
    width: 100%;
    max-width: 650px;
    top: 0;
    padding-bottom: 0;
    gap: 20px;
  }

  /* ---------------------------------AYPAD Navigation -------------------------- */
  body > header > div > a#logo {
    width: 150px;
  }
  body > header > div figure#menu {
    display: none !important;
  }
  body > header > div > a#logo figure img {
    margin-top: 2px;
  }

  body > header > div nav#nav ul li a h5 {
    color: var(--eggplant);
  }
  nav#nav section.logo_container {
    top: 75px;
  }
  nav#nav section.logo_container header {
    width: 300px;
    height: 325px;
    margin: 2%;
    top: 0;
  }
  nav#nav section.logo_container > header > div {
    top: 73px;
    right: 13px;
  }

  nav#nav section.logo_container ul#brands {
    top: 38px;
  }
  /* ---------------------------------------------- */
  body section.DIMS {
    padding: 2%;
  }
  body section.DIMS figure a {
    flex-wrap: nowrap;
    width: 258px;
    justify-content: space-between;
    align-items: center;
  }
  section.DIMS header.in-place {
    top: 187px;
    height: 93px;
  }
  main > figure.banner {
    height: 200px;
  }
  main > figure.banner h1 {
    top: 105px;
    width: 85%;
    padding: 1% 0 0% 6%;
    left: 0;
  }
  section#mobility,
  section#commitment {
    padding: 3% 0 7% 0;
  }
  section#testimonials ul li article {
    height: 130px;
  }
  footer {
    padding: 2% 2.5% 2% 1%;
  }
  footer section {
    width: calc(100% / 3);
  }
  footer section:first-child {
    margin-bottom: 0;
  }
  footer section:nth-child(2) {
    margin-left: -25px;
    margin-bottom: 0;
  }
  footer section:last-child {
    position: relative;
    right: -0.5%;
    justify-content: flex-end;
  }
  footer section:last-child ul {
    justify-content: end;
    grid-gap: 15px;
  }
}
@media screen and (min-device-width: 992px) {
  body > header#AYPAD > div nav#nav section.logo_container > ul {
    justify-content: center;
    left: 400px;
  }
  section.DIMS header.in-place {
    top: 194px;
  }
  main > figure.banner {
    margin-bottom: 4%;
  }
  section#mobility {
    padding: 3% 0 6% 0;
  }
  section#testimonials ul li article {
    padding: 5% 3% 0 3%;
    height: 165px;
    justify-content: flex-start;
  }
  section#follow_DIMS {
    padding: 1%;
  }
  footer {
    padding: 2% 2% 2% 0.5%;
  }
  footer section {
    padding: 0;
  }
  footer section:nth-child(2) {
    margin-left: 0;
  }
  footer section:last-child {
    right: 0;
  }
  footer section:last-child ul {
    grid-gap: 30px;
  }
}
@media screen and (min-device-width: 1200px) {
  body > header {
    padding: 0 1%;
  }
  section.logo_container > header h3 {
    width: 400px;
  }
  body > header#AYPAD > div nav#nav section.logo_container > ul {
    left: 0;
  }
  body > header#AYPAD > div nav#nav section.logo_container header {
    width: 400px;
  }
  nav#nav section.logo_container > header > div {
    top: 55px;
    right: 13px;
  }
  section.DIMS header.in-place {
    top: 202px;
  }
  main {
    background-color: var(--white);
  }
  main > figure.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
  }
  main > figure.banner h1 {
    left: 0;
    margin-left: -3%;
    width: 75%;
    top: -15px;
    padding: 1% 0 0% 12.5%;
  }
  main div.description {
    top: 0;
  }
  section#mobility {
    padding: 3% 0 5% 0;
  }
  section#testimonials ul li article {
    padding: 5% 3% 0 3%;
    justify-content: flex-start;
    height: 160px;
  }
}
@media screen and (min-width: 1400px) {
  section.DIMS header.in-place {
    top: 210px;
  }
  body > header > div nav#nav ul {
    width: 45%;
  }
  section#testimonials ul li article {
    height: 145px;
  }
  footer {
    padding: 1% 2% 1% 0.5%;
  }
}
@media screen and (min-width: 1600px) {
  body > header#AYPAD div nav#nav section.logo_container header {
    width: 500px;
    left: 0;
  }
  section.DIMS header.in-place {
    top: 175px;
  }
  main {
    padding-bottom: 3%;
  }
  main > figure.banner {
    margin-bottom: 1.5%;
  }
  section#mobility {
    padding: 3% 0 4% 0;
  }
}
@media screen and (min-width: 1800px) {
  body section.DIMS {
    padding: 0 2% 1% 2%;
  }
  section.DIMS header.in-place {
    padding: 1%;
    top: 170px !important;
  }
  body div#body {
    top: 240px;
  }
  main {
    background-position: 0px -75px;
  }
  footer {
    padding: 1% 1% 1% 0.5%;
  }
}
@media screen and (min-width: 2000px) {
  body > header#AYPAD div nav#nav section.logo_container header {
    margin: 0 1%;
    left: 0;
  }
  body section.DIMS {
    padding: 0 0 1% 0;
  }
  section#testimonials ul li article {
    height: 128px;
  }
}
