@-ms-viewport {
  width: device-width;
}
:root {
  --white: #ffffff;
  --black: #000000;
  --light-border: #ebebeb;
  --fog: #dcd6f0;
  --wisteria-purple: #c3a8c3;
  --pale-purple: #b498ca;
  --bright-ube: #d298e8;
  --lavender-indigo-one: #9c56dc;
  --lavender-indigo-two: #9053f5;
  --gun-powder: #423766;
  --cinder: #352d53;
  --dirty-purple: #8f6a9d;
  --old-mauve: #864a68;
  --bean-red_one: #f35962;
  --bean-red_two: #fa575f;
  --tulip-pink: #c65e8f;
  --purplish-pink: #c757a0;
  --glaucous: #6184c3;
  --silk-blue: #5684c8;
  --rhino: #2b4264;
  --wild-blue-yonder: #8586c6;
  --chetwode-blue: #8e8fd3;
  --mulled-wine: #47486a;
  --old-mauve: #864a68;
  --turkish-rose: #b8648d;
  --eggplant: #432e41;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  overflow-x: hidden;
  min-width: 100%;
  min-height: 100vh;
  font: normal normal normal 12px / 1.2 'Hind Madurai', sans-serif;
  position: relative;
  border: 3px;
  margin: 0;
}
body:not(body#home) {
  background: var(--white);
}
body {
  display: flex;
  flex-direction: column;
}
body div#body {
  position: relative;
  top: 275px;
  flex: 1;
  z-index: -1;
}
h1 {
  font: normal normal bold 60px/1.4 'Bubblegum Sans', display;
  color: var(--white);
}
h2 {
  font: normal normal bold 45px/1.4 'Bubblegum Sans', display;
  color: var(--white);
}

h3 {
  font: normal normal normal 40px/1.4 'Quicksand', sans-serif;
  color: var(--white);
}

h4 {
  font: normal normal normal 32px/1.4 'Quicksand', sans-serif;
  color: var(--white);
}
h4 em {
  font: normal normal bold 34px/1 'Quicksand', sans-serif;
  color: var(--tulip-pink);
}

h5 {
  font: normal normal normal 24px/1.4 'Hind Madurai', sans-serif;
  color: var(--white);
}
h5 em {
  font: normal normal bold 26px/1.4 'Hind Madurai', sans-serif;
  color: var(--tulip-pink);
}
h6 b {
  font: normal normal bold 18px/1.2 'Hind Madurai', sans-serif;
  color: var(--tulip-pink);
}
h6 {
  font: normal normal normal 14px/1.2 'Hind Madurai', sans-serif;
  color: var(--tulip-pink);
}
h6 em {
  font: normal normal normal 16px/1.2 'Hind Madurai', sans-serif;
  color: var(--white);
}
p b {
  font: normal normal bold 14px/1.4 'Hind Madurai', sans-serif;
  color: var(--white);
}
p {
  color: var(--white);
}
.nav-none {
  display: none;
}
.nav-block {
  display: block;
}
nav a,
a {
  text-decoration: none;
  cursor: pointer;
}
ul li {
  list-style: none;
  height: auto;
}
nav#nav ul li a h5 {
  color: var(--eggplant);
}
nav a h5:active {
  color: #c757a0;
}
nav a h5:hover {
  color: #9c56dc;
}
/*-----------------------AYPAD Brand Header ----*/
body
  > header#AYPAD
  > div
  nav#nav
  > ul:not(body#home > header#AYPAD > div nav#nav > ul) {
  background: var(--white) !important;
}
/*-----------------------CHILD LOGO DIMS ----*/
body section.DIMS {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 80px;
  height: 135px;
  padding: 2%;
  background: var(--white);
  z-index: 0;
}

/* DIM HEADER IN- PLACE */
section.DIMS header.in-place {
  width: 100%;
  height: 75px;
  transition: 0.3s ease-in-out;
  position: fixed;
  top: 215px;
  left: 0;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white);
  z-index: 1;
}

section.DIMS header.in-place nav ul li a h5 {
  background: linear-gradient(
    to right,
    var(--wild-blue-yonder) 10%,
    var(--pale-purple) 20%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/* DIM HEADER SCROLLING */
section.DIMS
  header.in-place.scrolling:not(
    body#home section.DIMS header.in-place.scrolling
  ) {
  background: linear-gradient(
    to right,
    var(--wild-blue-yonder) 15%,
    var(--pale-purple) 95%
  ) !important;
  -webkit-text-fill-color: white;
  -webkit-background-clip: text;
  filter: none !important;
}
section.DIMS header.in-place.scrolling nav ul li a h5 {
  -webkit-text-fill-color: white;
  -webkit-background-clip: text;
}

section.DIMS header.in-place nav ul {
  display: flex;
  gap: 22px;
  max-width: 370px;
  width: 95%;
  margin: 0 auto;
  overflow-x: scroll;
}
section.DIMS header.in-place nav li {
  white-space: nowrap;
}
body section.DIMS figure a img {
  width: 85px;
}
body section.DIMS figure a {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  width: 200px;
  justify-content: center;
}
body section.DIMS figure a h4 {
  font-weight: bolder;
  background: linear-gradient(
    to right,
    var(--bean-red_two),
    var(--purplish-pink),
    var(--lavender-indigo-one),
    var(--lavender-indigo-two)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  white-space: nowrap;
  filter: drop-shadow(0 0 0 var(--cinder));
}

/*-----------------------Main ----*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: -2px;
  background: linear-gradient(to bottom, var(--fog) 15%, var(--white) 43%);
  height: auto;
  padding: 0 1% 5% 1%;
  z-index: -1;
}
figure.banner {
  background: transparent;
  position: relative;
  top: 50px;
  height: 120px;
  width: 100vw;
  margin-bottom: 5%;
}
figure.banner h1 {
  background: linear-gradient(
    to right,
    var(--wild-blue-yonder) 10%,
    var(--pale-purple) 20%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  filter: drop-shadow(2px 2px 2px rgba(255, 255, 281, 1));
  width: 100%;
  top: 0;
  left: 0;
  padding-left: 7%;
  position: relative;
}
body div.back {
  top: 0;
  height: 50px;
}
/*-----------------------partners ----*/
main.partners {
  top: 0;
  min-height: 90%;
}
main.partners header {
  top: 35px;
}
main.partners ul {
  top: 125px;
  padding-bottom: 165px;
}
/*-----------------------description paragraphs ----*/
div.description {
  width: 90%;
  height: auto;
  max-height: 2300px;
  text-align: center;
  top: 0;
  position: relative;
  position: relative;
  display: flex;
  align-items: center;
}
div.description p {
  font-size: 20px;
  color: var(--cinder);
  text-align: justify;
  line-height: 1.5;
  padding-bottom: 0;
}

/*-----------------------Mobility ----*/
section#mobility,
section#commitment {
  background-image: linear-gradient(var(--silk-blue), var(--rhino));
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3% 0 10% 0;
  z-index: -1;
}
/*-----------------------PARALEX ----*/
.parallex {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
  display: block;
  width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
}
.parallex1 {
  height: 40vh;
  background-position: 50% 50%;
}
.parallex-section {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: -1;
}
.parallex-section > div {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}
/*-----------------------Testimonials ----*/
section#testimonials ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
section#testimonials ul li article {
  padding: 2% 3% 0 3%;
  height: 145px;
  background-image: linear-gradient(var(--silk-blue), var(--rhino));
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section#testimonials ul li article p em {
  font-weight: bold;
}
/*-----------------------Follow DIMS ----*/
section#follow_DIMS {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--wisteria-purple);
  position: relative;
  bottom: 0;
}
section#follow_DIMS ul {
  display: flex;
  grid-gap: 28px;
}
section#follow_DIMS > div#socialM {
  align-self: center;
  margin-top: 2%;
}

/*-----------------------Footer ----*/
section#follow_DIMS {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6% 3% 6% 2%;
}

section#follow_DIMS ul li {
  list-style: none;
}

section#follow_DIMS ul li a figure {
  width: 26px;
  height: 26px;
}

section#follow_DIMS ul li a figure img {
  width: 100%;
  height: 100%;
}
@media screen and (min-device-width: 576px) {
  body section.DIMS {
    padding: 0%;
    top: 79px;
  }
  section.DIMS header.in-place {
    top: 202px;
    left: unset;
    max-width: 100%;
    height: 75px;
  }
  section.DIMS header.in-place nav ul {
    max-width: 475px;
    width: 100%;
  }
  main {
    top: 0;
    height: auto;
  }
  main.partners header {
    top: 20px;
  }
  main.partners ul {
    top: 75px;
    padding-bottom: 115px;
  }
  figure.banner {
    top: 50px;
    margin-bottom: 5%;
  }
  section#testimonials ul li article {
    height: 115px;
  }
  section#follow_DIMS {
    padding: 3%;
    flex-direction: row;
  }
  section#follow_DIMS ul {
    grid-gap: 30px;
  }
  section#follow_DIMS > div#socialM {
    margin-top: 0;
  }
}
@media screen and (min-device-width: 768px) {
  body > header#AYPAD > div nav#nav {
    height: 50px;
  }
  body section.DIMS {
    padding: 2%;
  }
  body section.DIMS figure a {
    flex-wrap: nowrap;
    width: 218px;
    justify-content: space-between;
    align-items: center;
  }
  section.DIMS header.in-place {
    top: 187px;
    height: 93px;
  }
  main > figure.banner {
    height: 200px;
  }
  main > figure.banner h1 {
    top: 105px;
    width: 85%;
    padding: 1% 0 0% 6%;
    left: 0;
  }
  main.partners ul {
    top: 50px;
    padding-bottom: 15px;
  }
  section#mobility,
  section#commitment {
    padding: 3% 0 7% 0;
  }
  section#testimonials ul li article {
    height: 130px;
  }
  section#follow_DIMS {
    padding: 2%;
  }
}
@media screen and (min-device-width: 992px) {
  section.DIMS header.in-place {
    top: 194px;
  }
  main > figure.banner {
    margin-bottom: 4%;
  }
  main.partners header {
    height: 160px;
  }
  main.partners ul {
    padding-bottom: 90px;
  }
  section#mobility {
    padding: 3% 0 6% 0;
  }
  section#testimonials ul li article {
    padding: 5% 3% 0 3%;
    height: 159px;
    justify-content: flex-start;
  }
  section#follow_DIMS {
    padding: 1.5% 2% 1% 1%;
  }
}
@media screen and (min-device-width: 1200px) {
  section.DIMS header.in-place {
    top: 202px;
    height: 60px;
  }
  main {
    background-color: var(--white);
  }
  main > figure.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
  }
  main > figure.banner h1 {
    left: 0;
    margin-left: -3%;
    width: 75%;
    top: -15px;
    padding: 1% 0 0% 12.5%;
  }
  main div.description {
    top: 0;
  }
  main.partners ul {
    padding-bottom: 80px;
  }
  section#mobility {
    padding: 3% 0 5% 0;
  }
  section#testimonials ul li article {
    padding: 5% 3% 0 3%;
    justify-content: flex-start;
    height: 160px;
  }
  section#follow_DIMS {
    padding: 1.5% 1% 1% 1%;
  }
}
@media screen and (min-width: 1400px) {
  section.DIMS header.in-place {
    top: 210px;
  }
  section#testimonials ul li article {
    height: 145px;
  }
  section#follow_DIMS {
    padding: 1.5% 2% 1% 1%;
  }
}
@media screen and (min-width: 1600px) {
  section.DIMS header.in-place {
    top: 215px;
  }
  main {
    padding-bottom: 3%;
  }
  main > figure.banner {
    margin-bottom: 1.5%;
  }
  main.partners header {
    height: 110px;
  }
  main.partners ul {
    top: 65px;
  }
  section#mobility {
    padding: 3% 0 4% 0;
  }
}
@media screen and (min-width: 1800px) {
  body section.DIMS {
    padding: 0 2% 1% 2%;
  }
  section.DIMS header.in-place {
    padding: 1%;
    top: 170px !important;
  }
  body div#body {
    top: 240px;
  }
  main {
    background-position: 0px -75px;
  }
  main.partners ul {
    top: 65px;
  }
  section#follow_DIMS {
    padding: 1% 2% 1% 1%;
  }
}
@media screen and (min-width: 2000px) {
  body section.DIMS {
    padding: 0 0 1% 0;
  }
  section#testimonials ul li article {
    height: 128px;
  }
  main.partners ul {
    padding-bottom: 25px;
  }
  section#follow_DIMS {
    padding: 1% 1% 1% 1%;
  }
}
@media screen and (min-width: 2400px) {
  body section.DIMS {
    top: 79px;
  }
  main.partners header {
    top: 25px;
  }
  main.partners ul {
    top: 65px;
  }
}
