/*----------------------- MAIN ----*/
main {
  background: linear-gradient(to bottom, var(--fog) 15%, var(--white));
  width: 100%;
  height: 345px;
  padding: 0;
  z-index: -1;
}
figure.banner {
  background: transparent;
  top: 100px;
  height: 100px;
}
figure.banner h1 {
  width: 100%;
  top: 0;
  left: 0;
  padding-left: 7%;
}

main div.description {
  position: relative;
  display: flex;
  align-items: center;
  top: 80px;
  height: 150px;
  overflow: unset;
}
main div.description p {
  padding-bottom: 0;
}
/*----------------------- DIR ----*/
section#DIR {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
  position: relative;
  top: 350px;
}
section#DIR figure {
  width: 100%;
  height: 300px;
}
section#DIR h5 {
  padding-top: 2%;
  padding-left: 0;
  color: var(--eggplant) !important;
}
section#DIR section {
  padding: 0 3%;
}
section#DIR section div:nth-child(2) {
  margin-bottom: 2%;
}
section#DIR section div:last-child p {
  color: var(--eggplant);
  text-align: justify;
  font-weight: lighter;
  line-height: 1.5;
}

/*----------------------- TEAM ----*/

section#team {
  width: 100%;
  padding: 3% 0;
  background: linear-gradient(to bottom, var(--fog) 15%, var(--white) 100%);
  position: relative;
  z-index: -1;
  top: 400px;
}
section#team > ul {
  max-width: 2000px;
  width: 100%;
  margin: auto auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  padding: 0 0 350px 0;
  gap: 5px;
}
section#team > ul li {
  list-style: none;
  width: auto;
  height: auto;
  border: 1px solid var(--fog);
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 7% 0;
}

section#team > ul li article > figure {
  width: 300px;
  height: 275px;
  position: relative;
  margin-bottom: 0;
}
section#team > ul li article > figure img {
  width: 300px;
  height: 235px;
  object-fit: cover;
  object-position: top;
  border-radius: 15px;
}
section#team > ul li:nth-child(5) article > figure img {
  object-position: 0 50%;
}
section#team > ul li article > figure figcaption {
  position: relative;
  top: 10px;
}
section#team > ul li article > figure figcaption h5 {
  color: var(--eggplant) !important;
  position: absolute;
  bottom: -25px;
}
section#team > ul li article section {
  width: 300px;
  height: 18%;
  display: flex;
  flex-direction: column;
}
section#team > ul li article section div:nth-child(1) {
  margin-bottom: 3%;
}
section#team > ul li article section div:nth-child(2) {
  color: var(--eggplant);
  white-space: nowrap;
}
section#team > ul li article section div:last-child p {
  color: var(--eggplant);
  white-space: normal;
  font-weight: lighter;
  line-height: 1.5;
  text-align: justify;
}
section#follow_DIMS {
  position: fixed;
  bottom: 200px;
}
footer {
  position: fixed !important;
  bottom: 0;
}
@media screen and (min-device-width: 576px) {
  section.DIMS header.in-place nav ul {
    max-width: 500px;
    width: 100%;
  }
  main {
    height: 325px;
    top: 260px;
  }
  main > figure.banner h1 {
    left: 0;
    padding-left: 7%;
  }
  main div.description {
    left: 3%;
  }
  figure.banner {
    top: 50px;
    margin-bottom: 2%;
  }
  main div.description {
    top: 25px;
  }
  /*----------------------- DIR ----*/
  section#DIR figure {
    margin: 0;
    height: 400px;
  }
  section#DIR figure img {
    width: 100%;
    margin: 0;
  }
  section.DIMS header.in-place {
    top: 200px;
  }
  body section.DIMS {
    top: 74px;
  }
  section#DIR section {
    width: 100%;
  }
  section#DIR section div:nth-child(2) {
    margin: 1.5% 0;
  }

  /*----------------------- TEAM ----*/
  section#team {
    padding: 3% 0 15% 0;
  }
  section#team > ul {
    width: 90%;
    padding: 0 0 105px 0;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  section#team > ul li {
    border-radius: 25px;
  }
  section#team > ul li article section {
    width: 400px;
  }
  section#team > ul li article > figure,
  section#team > ul li article > figure,
  section#team > ul li article > figure img,
  section#team > ul li article section {
    width: 375px;
  }
  section#team > ul li article > figure {
    height: 282px;
  }
  section#team > ul li article > figure img {
    object-position: 0 50%;
  }
  section#team > ul li:nth-child(1) article > figure img {
    object-position: 0 40%;
  }
  section#team > ul li:nth-child(3) article > figure img {
    object-position: 0 20%;
  }
  section#follow_DIMS {
    bottom: 175px;
  }
}
@media screen and (min-device-width: 768px) {
  /*----------------------- Main ----*/
  main {
    height: 275px;
  }
  main > figure.banner {
    left: 0;
    height: 100px;
  }
  main > figure.banner h1 {
    padding: 1% 0 0% 5%;
    top: 0;
    left: 0;
  }
  main div.description {
    position: relative;
    left: 0.5%;
  }
  section.DIMS header.in-place {
    top: 185px;
  }
  /*----------------------- DIR ----*/
  section#DIR {
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding: 3% 0% 3% 5.5%;
    top: 300px;
  }
  section#DIR figure {
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
  }
  section#DIR figure img {
    border-radius: 15px;
  }
  section#DIR section {
    width: 60%;
  }
  section#DIR section h5 {
    padding-left: 0;
  }
  section#DIR section div:nth-child(2) {
    margin-bottom: 2%;
  }
  /*----------------------- Team ----*/
  section#team {
    top: 340px;
    padding: 3% 0 17% 0;
  }
  section#team > ul {
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    padding-bottom: 80px;
  }
  section#team > ul li article > figure,
  section#team > ul li article > figure,
  section#team > ul li article > figure img,
  section#team > ul li article section {
    width: 305px;
  }
  section#team > ul li article section div:last-child p {
    max-height: 130px;
    overflow: scroll;
  }
  section#follow_DIMS {
    bottom: 90px;
    padding: 3% 2% 3% 3%;
  }
  footer {
    position: relative;
    bottom: -12px;
  }
}
@media screen and (min-device-width: 992px) {
  section.DIMS header.in-place {
    top: 194px;
  }
  main div.description {
    top: 0;
  }

  /*----------------------- DIR ----*/
  section#DIR {
    top: 235px;
  }
  /*----------------------- Team ----*/
  section#team {
    top: 300px;
    padding: 3% 0 15% 0;
  }
  section#team > ul {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  section#team > ul li article > figure,
  section#team > ul li article > figure,
  section#team > ul li article > figure img,
  section#team > ul li article section {
    width: 375px;
  }
}
@media screen and (min-device-width: 1200px) {
  section.DIMS header.in-place {
    top: 202px;
  }
  main > figure.banner {
    flex-flow: wrap-reverse;
  }
  main > figure.banner h1 {
    padding: 1% 0 0% 12.5%;
    width: 100%;
  }
  section#DIR {
    padding: 3% 2% 3% 5%;
  }
  section#team {
    padding: 3% 0 14% 0;
  }
  /*----------------------- Team ----*/
  section#team > ul {
    grid-template-columns: repeat(auto-fit, minmax(425px, 1fr));
  }
  section#team > ul li article > figure,
  section#team > ul li article > figure,
  section#team > ul li article > figure img,
  section#team > ul li article section {
    width: 400px;
  }
  section#follow_DIMS {
    padding: 1% 2% 2% 3%;
  }
}
@media screen and (min-device-width: 1400px) {
  section.DIMS header.in-place {
    top: 210px;
  }
  section#team {
    top: 275px;
    padding: 3% 0 11% 0;
  }
  section#follow_DIMS {
    padding: 1% 2% 1% 3%;
  }
}
@media screen and (min-device-width: 1600px) {
  section#DIR {
    padding: 0% 6%;
  }
  section#follow_DIMS {
    padding: 1% 2% 1% 3%;
  }
}
@media screen and (min-device-width: 2000px) {
  section.DIMS header.in-place {
    top: 175px;
  }
  section#team {
    top: 350px;
    padding: 3% 0 10% 0;
  }
  section#follow_DIMS {
    padding: 1% 1% 1% 3%;
  }
}
@media screen and (min-device-width: 2400px) {
  section#follow_DIMS {
    padding: 1% 1% 1.25% 3%;
  }
}
