body > header.in-place {
  background-color: var(--wisteria-purple);
}
body > header.in-place.scrolling {
  background-color: var(--white);
}
body > header > div nav#nav {
  margin-left: 0;
}
/* AYPAD */
body:has(section#team),
body > header > div nav#nav > ul {
  background: transparent !important;
  filter: none !important;
}
body > header#AYPAD {
  z-index: 5;
  background: white;
}
body > header#AYPAD > div {
  padding: 0;
}
body > header > div nav#nav {
  margin-left: 0;
  background: white;
  width: 100%;
}

body > header.in-place > div nav#nav > ul,
body > header.in-place > div nav#nav section.logo_container > ul,
body > header#AYPAD > div nav#nav > ul,
body > header#AYPAD > div nav#nav section.logo_container > ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  /* width: 104%; */
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
}
body > header.in-place > div nav#nav > ul,
body > header#AYPAD > div nav#nav > ul {
  flex-direction: column;
  height: 225px;
  padding-bottom: 5%;
  z-index: 10;
  position: relative;
  background: var(--white);
  top: 10px;
  left: 0;
  width: 100%;
  max-width: 100vw;
  filter: drop-shadow(2px 4px 2px #dcdcdc);
}
body > header.in-place > div nav#nav > ul li,
body > header#AYPAD > div nav#nav > ul li {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 100vw;
  margin: 0 auto;
}
nav#nav ul li a h5 {
  color: var(--eggplant);
}
nav#nav ul li.dropdown {
  float: left;
  overflow: visible;
  position: relative;
}

nav#nav ul li.dropdown .brandbtn {
  background-color: inherit;
  font-family: inherit;
  position: relative;
  color: var(--eggplant);
}

nav#nav ul li.dropdown:hover .brandbtn {
  text-decoration: underline;
}
nav#nav section.logo_container {
  position: absolute;
  background-color: #fff;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 15;
  left: 0;
  top: 290px;
  height: 420px;
  width: 100vw;
  overflow: scroll;
  padding: 0 4%;
  align-items: center;
  border: 3px;
  gap: 25px;
}
nav#nav section.logo_container > header > div {
  position: fixed;
  right: 42px;
  top: 305px;
  font-size: 18px;
  text-decoration: underline;
  cursor: pointer;
}

nav#nav section.logo_container ul#brands {
  height: 300px;
}

nav#nav section.logo_container header {
  /* height: 125px; */
  height: 310px;
  top: 40px;
  width: 365px;
}
nav#nav section.logo_container header h3 {
  white-space: nowrap;
}
nav#nav section.logo_container ul#brands li h5 {
  width: 100%;
  text-align: center;
  bottom: -10px;
  white-space: normal;
}
/*----------------------- DIMS section ----*/
/* DIM HEADER IN- PLACE */
body section.DIMS,
section.DIMS header.in-place {
  background: var(--white);
  z-index: 1;
}
figure.banner h1,
section.DIMS header.in-place nav ul li a h5 {
  background: linear-gradient(
    to right,
    var(--wild-blue-yonder) 10%,
    var(--pale-purple) 20%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  filter: drop-shadow(1px 2px 2px rgba(255, 255, 281, 1));
}
/* DIM HEADER SCROLLING */
section.DIMS header.in-place.scrolling {
  background: linear-gradient(
    to right,
    var(--wild-blue-yonder) 15%,
    var(--pale-purple) 95%
  ) !important;
  -webkit-text-fill-color: white;
  -webkit-background-clip: text;
  filter: none !important;
}
section.DIMS header.in-place.scrolling nav ul li a h5 {
  -webkit-text-fill-color: white;
  -webkit-background-clip: text;
  filter: none !important;
}

section.DIMS header.in-place {
  top: 213px;
  max-width: 375px;
  left: 0;
}
/*----------------------- MAIN ----*/
body {
  background: transparent;
}
main.partners {
  width: 100%;
  min-height: 100%;
  padding: 1% 0;
  position: relative;
  top: 0;
  background: transparent;
}
body div.back {
  display: flex;
  width: 100%;
  padding: 5% 2%;
  position: relative;
  top: 75px;
  left: 0;
}
body div.back a {
  cursor: pointer;
}
body div.back a h5 {
  font-family: 'Quicksand', serif;
  font-weight: 300;
  font-size: 22px;
  color: var(--eggplant);
}
main.partners header,
section.logo_container header {
  width: 90%;
  position: relative;
  margin: 0px 3% 9% 3%;
  top: 75px;
  height: 225px;
}
main.partners header h3,
main.partners header h5,
section.logo_container header h3,
section.logo_container header h5 {
  color: var(--eggplant);
}
main.partners ul,
section.logo_container ul#brands {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  gap: 5px;
  position: relative;
  padding-bottom: 80px;
  margin: auto auto;
  top: 60px;
}
main.partners ul li,
section.logo_container ul#brands li {
  list-style: none;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 5%;
  border: 1px solid var(--fog);
  position: static;
}

main.partners ul li article > a figure,
section.logo_container ul#brands li article figure {
  width: 300px;
  height: 275px;
  position: relative;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main.partners ul li article > a figure img,
section.logo_container ul#brands li article figure img {
  width: 300px;
  min-height: 200px;
  object-fit: contain;
  object-position: center;
  border-radius: 15px;
  position: relative;
  padding: 0 3%;
}
main.partners ul li article > a figure figcaption,
section.logo_container ul#brands li article figure figcaption {
  bottom: 0;
  position: relative;
  color: var(--eggplant);
  text-align: center;
  height: 100px;
}
main.partners ul li article > a figure figcaption h5,
section.logo_container ul#brands li h5 {
  color: var(--eggplant);
  position: absolute;
  bottom: -25px;
  position: relative;
}
footer {
  position: relative;
  bottom: 0;
}
@media screen and (min-width: 576px) {
  body > header > div nav#nav {
    width: 100vw;
  }
  section.DIMS header.in-place {
    top: 202px;
    left: unset;
    max-width: 100%;
  }
  main.partners {
    top: 75px;
  }
  main.partners header {
    top: 0;
    height: 160px;
    margin: 0 3% 3% 3%;
  }
  main.partners ul {
    top: 10px;
  }
}
@media screen and (min-width: 768px) {
  body div.back {
    padding: 3% 2%;
  }
  body > header.in-place > div,
  body > header#AYPAD > div {
    width: 100%;
    gap: 25px;
  }
  body > header.in-place > div nav#nav,
  body > header#AYPAD > div nav#nav {
    width: 535px;
    max-width: 550px;
  }
  body > header.in-place > div nav#nav > ul,
  body > header#AYPAD > div nav#nav > ul {
    background-color: transparent;
    flex-direction: row;
    height: auto;
    width: 100%;
    max-width: 650px;
    top: 0;
    padding-bottom: 0;
  }
  nav#nav section.logo_container {
    top: 75px;
  }
  nav#nav section.logo_container header {
    width: 300px;
    margin: 2%;
    top: 0;
  }
  nav#nav section.logo_container ul#brands {
    top: 38px;
  }
  nav#nav section.logo_container > header > div {
    top: 85px;
  }
  main.partners {
    top: 75px;
  }
  main.partners ul {
    padding-bottom: 125px;
  }
}
@media screen and (min-width: 992px) {
  body > header.in-place > div nav#nav section.logo_container > ul,
  body > header#AYPAD > div nav#nav section.logo_container > ul {
    justify-content: center;
    left: 400px;
  }
  body div.back {
    padding: 2%;
  }
  main.partners header {
    height: 125px;
  }
}
@media screen and (min-width: 1200px) {
  nav#nav section.logo_container header {
    width: 400px;
  }
  body > header.in-place > div nav#nav section.logo_container > ul,
  body > header#AYPAD > div nav#nav section.logo_container > ul {
    left: 350px;
  }
  body div.back {
    padding: 2% 1% 1% 1%;
  }
  main.partners header {
    height: 115px;
  }
}

@media screen and (min-width: 1600px) {
  nav#nav section.logo_container header {
    width: 500px;
  }
  body > header.in-place > div nav#nav section.logo_container > ul,
  body > header#AYPAD > div nav#nav section.logo_container > ul {
    left: 225px;
  }
  main.partners header {
    margin: 0 3% 1% 3%;
  }
  main.partners ul {
    top: 0;
  }
}
@media screen and (min-width: 2000px) {
  nav#nav section.logo_container header {
    margin: 0 1%;
  }
  body > header.in-place > div nav#nav section.logo_container > ul,
  body > header#AYPAD > div nav#nav section.logo_container > ul {
    left: 35px;
  }
  main.partners header {
    margin: 0 3% 0% 3%;
  }
}
@media screen and (min-width: 2400px) {
  main.partners header {
    margin: 0 3% 1% 3%;
  }
  main.partners ul {
    margin: 0 auto;
    padding-bottom: 0;
  }
}
