@-ms-viewport {
  width: device-width;
}
:root {
  --white: #ffffff;
  --light-border: #ebebeb;
  --purplish-blue: #5b16e7;
  --mulled-wine: #47486a;
  --rhino: #2b4264;
  --silk-blue: #5684c8;
  --glaucous: #6184c3;
  --chetwode-blue: #8e8fd3;
  --old-mauve: #864a68;
  --tulip-pink: #c65e8f;
  --turkish-rose: #b8648d;
  --purplish-pink: #c757a0;
  --wisteria-purple: #ceb1ce;
  --bright-ube: #d298e8;
  --wisteria: #a975c9;
  --lavender-indigo-one: #9c56dc;
  --lavender-indigo-two: #9053f5;
  --dirty-purple: #8f6a9d;
  --bean-red_one: #f35962;
  --bean-red_two: #fa575f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  position: relative;
  overflow: hidden;
}
body {
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  font: normal normal normal 12px / 1.2 'Hind Madurai', sans-serif;
  position: relative;
  background-image: linear-gradient(
    var(--wisteria-purple) 89.5%,
    var(--dirty-purple)
  );
}
h1 {
  font: normal normal bold 60px/1.4 'Bubblegum Sans', serif;
  color: var(--white);
}
h2 {
  font: normal normal bold 45px/1.4 'Bubblegum Sans', serif;
  color: var(--white);
}

h3 {
  font: normal normal normal 40px/1.4 'Quicksand', sans-serif;
  color: var(--white);
}

h4 {
  font: normal normal normal 32px/1.4 'Quicksand', serif;
  color: var(--white);
}
h4 em {
  font: normal normal bold 34px/1 'Quicksand', sans-serif;
  color: var(--tulip-pink);
}

h5 {
  font: normal normal normal 24px/1.4 'Hind Madurai', serif;
  color: var(--white);
}
h5 em {
  font: normal normal bold 26px/1.4 'Hind Madurai', serif;
  color: var(--tulip-pink);
}
h6 b {
  font: normal normal bold 18px/1.2 'Hind Madurai', serif;
  color: var(--tulip-pink);
}
h6 {
  font: normal normal normal 14px/1.2 'Hind Madurai', serif;
  color: var(--tulip-pink);
}
h6 em {
  font: normal normal normal 16px/1.2 'Hind Madurai', serif;
  color: var(--white);
}
p b {
  font: normal normal bold 14px/1.4 'Hind Madurai', sans-serif;
  color: var(--white);
}
p {
  color: var(--white);
}
nav a,
a {
  text-decoration: none;
  cursor: pointer;
}
header {
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 1%;
  width: 100%;
  background-color: var(--wisteria-purple);
}
header > div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 2%;
}
header figure {
  width: 50%;
  display: flex;
  align-items: center;
  grid-gap: 8px;
}
header figure img {
  width: 32%;
}
header figure h4 {
  font-weight: bolder;
  background: linear-gradient(
    to right,
    var(--bean-red_two),
    var(--purplish-pink),
    var(--lavender-indigo-one),
    var(--lavender-indigo-two)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  white-space: nowrap;
}
header > div nav {
  display: none;
}
ul li {
  list-style: none;
  height: auto;
}
/*-----------------------Hero ----*/
main {
  background: url(./images/jason-rosewell-ASKeuOZqhYU-unsplash_puple.png)
    no-repeat top center / 100% 100%;
  background-size: cover;
  width: 100%;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -1px;
  position: relative;
  margin-bottom: -2px;
}
main > div {
  width: 90%;
  height: auto;
  text-align: center;
  top: 3%;
  position: relative;
}
main > div h1 {
  font-size: 50px;
}
main > div section h5 {
  font-size: medium;
}
/*-----------------------Feature Service ----*/
section#feature_service {
  width: 100%;
}
section#feature_service ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
section#feature_service ul li {
  display: flex;
  flex-wrap: wrap;
}
section#feature_service ul li article {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5%;
  grid-gap: 8%;
  box-shadow: inset 0px 0px 0px 1px var(--light-border);
}
section#feature_service ul li:nth-of-type(1) article {
  background-image: linear-gradient(
    to bottom right,
    var(--bright-ube) 15%,
    var(--white) 75%
  );
}
section#feature_service ul li:nth-of-type(2) article {
  background-image: linear-gradient(
    to top right,
    var(--bright-ube) 15%,
    var(--white) 75%
  );
}
section#feature_service ul li:nth-of-type(3) article {
  background-image: linear-gradient(
    to bottom left,
    var(--bright-ube) 15%,
    var(--white) 75%
  );
}
section#feature_service ul li:nth-of-type(4) article {
  background-image: linear-gradient(
    to top left,
    var(--bright-ube) 15%,
    var(--white) 75%
  );
}
section#feature_service ul li article section p {
  color: var(--tulip-pink);
}
section#feature_service ul li article figure {
  width: 45%;
  align-self: flex-start;
}
section#feature_service ul li article div {
  display: flex;
  flex-direction: column;
  width: 100%;
}
/*-----------------------Audio ----*/
section#audio {
  background: url('./images/soundtrap-uCNrr-3i2oI-unsplash_purple.png')
    no-repeat top center / 100% 100%;
  background-size: cover;
  width: 100%;
  height: 700px;
  display: flex;
  align-items: end;
  justify-content: center;
}
section#audio > div {
  width: 90%;
  height: auto;
  text-align: center;
  position: relative;
  bottom: 12%;
}
h2 {
  font-size: 42px;
}
h5 {
  font-size: 20px;
}
/*-----------------------Mobility ----*/
section#mobility {
  background-image: linear-gradient(var(--silk-blue), var(--rhino));
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3% 0 10% 0;
}
section#mobility > div {
  width: 90%;
  height: auto;
  text-align: center;
}
section#mobility > div h2 {
  text-align: center;
  white-space: nowrap;
}
section#mobility div figure img {
  width: 75px;
}
/*-----------------------PARALEX ----*/
.parallex-section {
  margin: 0;
  padding: 0;
  position: relative;
}
.parallex {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
  display: block;
  width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
}
.parallex1 {
  height: 40vh;
  background-position: left 0px bottom 0px;
}
.parallex-section > div {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}
#parallex-set-1 {
  background-image: url('../dimStudio/images/soundtrap-sFnAVHjF688-unsplash_purple.png');
}

/*-----------------------Testimonials ----*/
section#testimonials ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
section#testimonials ul li article {
  padding: 2% 3% 0 3%;
  height: 145px;
  background-image: linear-gradient(var(--silk-blue), var(--rhino));
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section#testimonials ul li article p em {
  font-weight: bold;
}

/*-----------------------Footer ----*/
footer {
  background-color: var(--wisteria-purple);
  width: 100%;
  height: 170px;
  padding: 1%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 3%;
}
footer section {
  width: 100%;
}
footer section:first-child {
  display: flex;
  align-items: center;
  grid-gap: 8px;
  color: white;
}
footer section:nth-child(2) {
  text-align: center;
}
footer section:last-child {
  display: flex;
  justify-content: center;
}
footer section:last-child ul {
  display: flex;
  grid-gap: 10px;
}
footer section#socialM ul li {
  list-style: none;
}
footer section#socialM ul li a figure {
  width: 26px;
  height: 26px;
}
footer section#socialM ul li a figure img {
  width: 100%;
  height: 100%;
}
@media screen and (min-device-width: 576px) {
  header > div nav {
    display: block;
    padding: 1% 0;
  }
  section#feature_service ul li article figure {
    width: 30%;
  }
  section#testimonials ul li article {
    height: 115px;
  }
  footer {
    flex-direction: row;
    height: 55px;
  }
  footer section {
    width: calc(100% / 3);
  }
  footer section:last-child {
    position: relative;
    right: 0;
    justify-content: flex-end;
  }
  footer section:last-child ul {
    justify-content: end;
  }
}
@media screen and (min-device-width: 768px) {
  header figure img {
    width: 25%;
  }
  section#feature_service ul li:nth-of-type(2) article {
    background-image: linear-gradient(
      to bottom left,
      var(--bright-ube) 15%,
      var(--white) 75%
    );
  }
  section#feature_service ul li:nth-of-type(3) article {
    background-image: linear-gradient(
      to top right,
      var(--bright-ube) 15%,
      var(--white) 75%
    );
  }
  section#feature_service ul li article figure {
    width: 50%;
  }
  section#testimonials ul li article {
    height: 130px;
  }
  footer section:last-child {
    position: relative;
    right: -0.5%;
  }
}
@media screen and (min-device-width: 992px) {
  main > div {
    width: 70%;
  }
  section#audio > div {
    width: 70%;
  }
  section#audio > div h2 {
    white-space: nowrap;
  }
  section#mobility {
    padding: 3% 0 6% 0;
  }
  section#mobility > div {
    width: 70%;
  }
  section#testimonials ul li article {
    padding: 5% 3% 0 3%;
    height: 165px;
    justify-content: flex-start;
  }
  footer {
    height: 60px;
  }
  footer section {
    width: 100%;
    padding: 0;
  }
  footer section:last-child ul {
    /* width: 76%; */
  }
  footer section:last-child {
    right: 0;
  }
}
@media screen and (min-device-width: 1200px) {
  header figure img {
    width: 20%;
  }
  main {
    height: 850px;
  }
  main > div {
    width: 57%;
  }
  main > div h1 {
    font-size: 60px;
  }
  main > div section h5 {
    font-size: x-large;
  }
  section#feature_service ul {
    grid-template-columns: repeat(auto-fit, minmax(350px, 50%));
  }
  section#feature_service ul li article figure {
    width: 25%;
  }
  section#feature_service ul li article {
    padding: 3%;
  }
  section#feature_service ul li:nth-of-type(2) article {
    background-image: linear-gradient(
      to bottom left,
      var(--bright-ube) 15%,
      var(--white) 75%
    );
  }
  section#feature_service ul li:nth-of-type(3) article {
    background-image: linear-gradient(
      to top right,
      var(--bright-ube) 15%,
      var(--white) 75%
    );
  }
  section#audio > div {
    width: 66%;
  }
  section#audio > div h2 {
    font-size: 45px;
  }
  section#audio > div h5 {
    font-size: 24px;
  }
  section#mobility {
    padding: 3% 0 7% 0;
  }
  section#mobility div figure img {
    width: 100px;
  }
  section#testimonials ul li article {
    padding: 5% 3% 0 3%;
    justify-content: flex-start;
    height: 160px;
  }
  footer section:last-child ul {
    /* width: 63%; */
  }
}
@media screen and (min-width: 1400px) {
  section#testimonials ul li article {
    height: 145px;
  }
  section#audio > div {
    width: 58%;
  }
  section#mobility > div {
    width: 53%;
  }
  footer {
    padding: 2%;
  }
}
@media screen and (min-width: 1600px) {
  main > div {
    width: 54%;
  }
  section#feature_service ul {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
  section#feature_service ul li article figure {
    width: 40%;
  }
  section#feature_service ul li article {
    align-items: flex-start;
  }
  section#audio > div {
    width: 50%;
  }
  section#mobility {
    padding: 3% 0 4% 0;
  }
  section#testimonials ul li article {
    height: 140px;
  }
  footer {
    padding: 1%;
  }
}
@media screen and (min-width: 2000px) {
  main {
    height: 1200px;
  }
  section#testimonials ul li article {
    height: 128px;
  }
}
